body {
    background-image: url("Images/grid_wallpaper.png");
    background-size: 500px;
    background-blend-mode: color-dodge;
    background-repeat: repeat;
    background-attachment: sticky;
    margin: 0;
    padding: 0;
    }

.menu {
    background-color: rgb(238, 238, 238);
    display: inline-block;
    height: 100%;
    width: 200px;
    position: fixed!important;
}    



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 100%;
    }

li a {
    display: block;
    color: black;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    padding: 17px;
    border-radius: 30px;
    }

li a:hover {
    background-color: rgb(200, 204, 212);
    display: block;
    width: fit-content;
    margin: 0 auto;
    border: 2px solid;
    }

a {font-family: Verdana;}

h1 {background: rgba(255, 255, 255, 0.5);}

main {margin-left: 220px;}

section {
    margin-left: 400px;
    width: 50%;
}

.bird01 {
    border: 7px ridge rgba(0, 102, 255, 0.253);
    border-radius: 50%;
}

figcaption {background: rgba(255, 255, 255, 0.5);}