body {
    background-image: url("Images/grid_wallpaper.png");
    background-size: 50%;
    background-blend-mode: color-dodge;
    background-repeat: repeat;
    }

main {
    margin-left: 220px;
}

h1 {
    background: rgba(255, 255, 255, 0.5);
    }

ul {
    list-style-type: none;
    margin-top: -21px;
    margin-left: -10px;
    padding: 0;
    width: 200px;
    height: 100%;
    background-color: #f1f1f1;
    position: fixed;
    }

li a {
    display: block;
    color: black;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    padding: 17px;
    border-radius: 30px;
    background-color: #f1f1f1;
    }

li a:hover {
    background: linear-gradient(#80cad6, #5c9faa);
    }

li a:hover:not(.active) {
    background-color: #555;
    color: white;
    }

a {
    font-family: Verdana;
    }
