body {
    background-image: url("Images/grid_wallpaper.png");
    background-size: 500px;
    background-blend-mode: color-dodge;
    background-repeat: repeat;
    background-attachment: sticky;
    margin: 0;
    padding: 0;
    }

#flex {
    display: flex;
    height: inherit;
    width: inherit;
    align-items: center;
    justify-content: center;
}

.menu {
    background-color: rgb(238, 238, 238);
    display: inline-block;
    height: 100%;
    width: 200px;
    position: fixed!important;
}    

ul {
    display: block;
    list-style-type: none;
    text-align: center;
    padding: 0;
}

li {
    padding: 20px 0px;
    border: 1px solid transparent;
}

li a {
    text-decoration: none;
    color: black;
    padding: 3px;
}

li a:hover {
    list-style-type: none;
    margin: auto;
    padding: 20px;
    width: fit-content;
    outline: 2px ridge rgba(0, 102, 255, 0.4);
    border-radius: 50px;
    background-color:  rgb(218, 218, 218);
}

a {
    font-family: Verdana;
    font-weight: bolder;
}

h1 {background: rgba(255, 255, 255, 0.5);}

main {margin-left: 220px;}

section {
    margin-left: 400px;
    width: 50%;
}

.bird01 {
    border: 7px ridge rgba(0, 102, 255, 0.253);
    border-radius: 50%;
}

figcaption {background: rgba(255, 255, 255, 0.5);}