body {
    font-family: Arial, Helvetica, sans-serif;
}

.playerButton {
    display: inline;
    background-color: rgb(42, 149, 165);
    width: 100px;
}

#playerDialog {
    display: inline-block;
}

.startingButton {
    background-color: red;
}