body {
    background-color: #000000;
    color: white;
    font-family: 'Work Sans', sans-serif;
}

h1 {
    color: #561953;
    text-shadow: 2px 2px 8px #e1c7e0;
}

.buttonSymbol-container {
    display: flex;
    justify-content: center;
    background-color: #2f2e2e;
}

.buttonSymbol {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 8rem;
    transition: 50ms;
}

.buttonSymbol:hover {
    transform: scale(1.25);
}

.buttonSymbol:active {
  transform: scale(1.3);
}